body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bookedSection {
  width: 100%;
  padding: 40px 20px;
}

.bookedSection h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0e3f6c;
  margin-left: 16px;

}

.prevnext {
  display: flex;
  justify-content: space-between;
}
.button-container {
  display: flex;
  align-items: center !important; 
  justify-content: center;
}

.button-container button {
  margin: 3px 4px;
  border: none;
  outline: none;
  padding: 3px 6px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #0e3f6c;
}


.cardsDetails {
  display: flex !important;
  justify-content: flex-start;
  align-items: center !important;
  max-width: 70%;
  padding: 10px 10px;
  border-radius: 12px;
  /* box-shadow: 1px 2px 2px  #dbf5f9; */
  box-shadow: 4px 5px 3px #aacae8;
  /* width: 20%; */
  /* height: 40px; */
}

.cardIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #dbf5f9;
  display: flex;
  justify-content: center;
  align-items: center !important;
  color: #000;
  margin-right: 10px;
}
.headings{
  display: flex;
  align-items: center !important;
  padding-top: 8px;
}
.slick-track{
  height: 82px !important;
}
.slick-list{
  margin-left: 74px !important;
}
